@model SemanticML.Model.ModelInput
@{
    ViewData["Title"] = "Prediction";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var User = ViewBag.Result;
}
<h2>Semantic Prediction Analysis</h2>

<hr />


<div class="row">
    <div class="col-md-12">
        <form asp-action="Prediction">
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Feedbacktext" class="control-label">Feedbacktext</label>
                    <input asp-for="Feedbacktext" class="form-control" />
                </div>
            </div>
            <div class="form-group col-md-4 text-left">
                <label class="control-label"></label>
                <input type="submit" value="Predict" class="btn btn-primary" />
            </div>
        </form>
        <hr />
    </div>

</div>


@if (ViewBag.Result != null)
{
    <div class="row">
        <div class="col-md-12">
            <style>
                table, th, td {
                    border: 1px solid black;
                }

                th, td {
                    padding: 10px;
                }
            </style>
            <h2>Results: </h2><br>
            <table >
                <tr>
                    <th>Input value</th>
                    <th>Total user feedback for @ViewData["Feedbacktext"]  </th>
                    <th>@ViewData["Feedbacktext"] ISGood </th>
                    <th>Percentage </th>
                </tr>
                <tr>
                    <td>@ViewData["Feedbacktext"]</td>
                    <td> @ViewData["Total"]</td>
                    <td> @ViewData["Value"]</td>
                    <td>@ViewBag.Result.Prediction %</td>
                </tr>
            </table>
           
        </div>
    </div>
    <hr />

}  